In [3]:
import mlxtend
import numpy as np
import pandas as pd

In [5]:
data = np.array([
    ['우유', '기저귀', '쥬스'], # 0번 거래
    ['양상추', '기저귀', '맥주'], # 1번
    ['우유', '양상추', '기저귀', '맥주'], # 2번
    ['양상추', '맥주'] # 3번
], dtype=np.object_)

# Data $\rightarrow$ Sparse Matrix

In [8]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te.fit(data)
te_arr = te.transform(data)
df = pd.DataFrame(te_arr, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

# Apriori

In [15]:
%%time
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.5, use_colnames=True)

CPU times: total: 0 ns
Wall time: 10.4 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (기저귀, 양상추)
6     0.50       (기저귀, 우유)
7     0.75       (맥주, 양상추)
8     0.50  (맥주, 기저귀, 양상추)

# FP Growth

In [19]:
%%time
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.5, use_colnames=True)

CPU times: total: 0 ns
Wall time: 5.19 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (기저귀, 양상추)
6     0.50  (맥주, 기저귀, 양상추)
7     0.50       (기저귀, 우유)
8     0.75       (맥주, 양상추)